{% extends "base.html" %}
{% block content %}
<h1>Ajouter une nouvelle tâche</h1>

<form method="post">
    {% csrf_token %}
    <label for="title">Titre :</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="description">Description :</label><br>
    <textarea id="description" name="description"></textarea><br><br>

    <button type="submit" class="btn bg-success btn-sm">Enregistrer</button>
</form>

<a href="{% url 'todo_list' %}" class="btn-outline-light text-decoration-none mt-10">voir liste</a>
{% endblock %}
